services:
  cs2-server-test:
    build:
      context: "."
      dockerfile: "Dockerfile"
    image: "cs2-joedwards32-seeded:latest"
    container_name: "cs2-test-server-2"
    environment:
      - SRCDS_TOKEN=[YOUR TOKEN HERE]
      - STEAMAPPVALIDATE=0
      - CS2_SERVERNAME=My Dedicated Server TEST
      - CS2_CHEATS=1
      - CS2_PORT=27015
      - CS2_RCON_PORT=28015
      - CS2_SERVER_HIBERNATE=0
      - CS2_LAN=0
      - CS2_RCONPW=changeme
      - CS2_MAXPLAYERS=32
      - CS2_BOT_QUOTA=14
      - CS2_HOST_WORKSHOP_COLLECTION=
      - CS2_HOST_WORKSHOP_MAP=
      - CS2_CFG_URL=
      - CS2_PW=
      - CS2_PW_ARGS=
      - CS2_GAMEALIAS=
      - CS2_GAMETYPE=0
      - CS2_GAMEMODE=1
      - CS2_MAPGROUP=mg_active
      - CS2_STARTMAP=de_inferno
      - TV_AUTORECORD=0
      - TV_ENABLE=0
      - TV_PORT=27030
      - TV_PW=changeme
      - TV_RELAY_PW=changeme
      - TV_MAXRATE=0
      - TV_DELAY=0
      - CS2_LOG=on
      - CS2_LOG_MONEY=0
      - CS2_LOG_DETAIL=0
      - CS2_LOG_ITEMS=0
      - CS2_HOST_WORKSHOP_MAP_ARGS=
      - CS2_HOST_WORKSHOP_COLLECTION_ARGS=
      - CS2_MP_MATCH_END_CHANGELEVEL=
    depends_on:
      cs2-db-test:
        condition: service_healthy
    volumes:
      - "./cs2-data-test:/home/steam/cs2-dedicated"
      - "./mods:/mods:ro"
      - "./pre.sh:/home/steam/cs2-dedicated/pre.sh:ro"

    ports:
      - "27015:27015/tcp"
      - "27015:27015/udp"
      - "28015:28015/tcp"
    networks:
      - "cs2-network-test"
    stdin_open: true
    tty: true

  cs2-db-test:
    image: "mariadb:latest"
    container_name: "cs2-db-test"
    environment:
      MARIADB_DATABASE: "db"
      MARIADB_USER: "server"
      MARIADB_PASSWORD: "changeme"
      MARIADB_ROOT_PASSWORD: "changeme"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      - "cs2-db-data-test:/var/lib/mysql"
    networks:
      - "cs2-network-test"

volumes:
  cs2-db-data-test:

networks:
  cs2-network-test:
    driver: "bridge"
    name: "cs2-network-test"
