services:
  cs2-db:
    image: mariadb:latest
    container_name: cs2-db
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=rootpassword
      - MARIADB_DATABASE=cs2
      - MARIADB_USER=cs2
      - MARIADB_PASSWORD=cs2password
    volumes:
      - ./cs2-db-data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      start_period: 60s
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - cs2-network

  cs2-server:
    image: joedwards32/cs2:latest
    container_name: cs2-dedicated
    restart: unless-stopped
    depends_on:
      cs2-db:
        condition: service_healthy
    environment:
      - SRCDS_TOKEN=D8AC1AF9E509B502C53172F4DA8BA16E 
      - CS2_SERVERNAME=Mein Server
      - CS2_CHEATS=0
      - CS2_PORT=27015
      - CS2_MAXPLAYERS=14
      - CS2_RCONPW=changeme
      - CS2_RCON_PORT          
      - CS2_GAMEALIAS=
      - STEAMAPPVALIDATE=0
      - CS2_PW=
      - DEBUG=0
      - CS2_LAN=0                   # (0 - LAN mode disabled, 1 - LAN Mode enabled)
      - CS2_RCON_PORT=
      - CS2_PW_ARGS=
      # Game modes
      - CS2_GAMETYPE=0              # (Used if CS2_GAMEALIAS not defined. See https://developer.valvesoftware.com/wiki/Counter-Strike_2/Dedicated_Servers)
      - CS2_GAMEMODE=1              # (Used if CS2_GAMEALIAS not defined. See https://developer.valvesoftware.com/wiki/Counter-Strike_2/Dedicated_Servers)
      - CS2_MAPGROUP=mg_active      # (Map pool. Ignored if Workshop maps are defined.)
      - CS2_STARTMAP=de_inferno   # (Start map. Ignored if Workshop maps are defined.)
      # Workshop Maps
      - CS2_HOST_WORKSHOP_COLLECTION= # The workshop collection to use
      - CS2_HOST_WORKSHOP_MAP=        # The workshop map to use. If collection is also defined, this is the starting map.
      - CS2_HOST_WORKSHOP_COLLECTION_ARGS=
      - CS2_HOST_WORKSHOP_MAP_ARGS=
      - CS2_MP_MATCH_END_CHANGELEVEL=
      # Bots
      - CS2_BOT_DIFFICULTY          # (0 - easy, 1 - normal, 2 - hard, 3 - expert)
      - CS2_BOT_QUOTA               # (Number of bots)
      - CS2_BOT_QUOTA_MODE          # (fill, competitive)
      # TV
      - TV_AUTORECORD=0             # Automatically records all games as CSTV demos: 0=off, 1=on.
      - TV_ENABLE=0                 # Activates CSTV on server: 0=off, 1=on.
      - TV_PORT=27020               # Host SourceTV port
      - TV_PW=changeme              # CSTV password for clients
      - TV_RELAY_PW=changeme        # CSTV password for relay proxies
      - TV_MAXRATE=0                # World snapshots to broadcast per second. Affects camera tickrate.
      - TV_DELAY=0                  # CSTV broadcast delay in seconds
      # Logs
      - CS2_LOG=on                  # 'on'/'off'
      - CS2_LOG_MONEY=0             # Turns money logging on/off: (0=off, 1=on)
      - CS2_LOG_DETAIL=0            # Combat damage logging: (0=disabled, 1=enemy, 2=friendly, 3=all)
      - CS2_LOG_ITEMS=0             # Turns item logging on/off: (0=off, 1=on)
      - CS2_CFG_URL=https://github.com/skyyMD/game/releases/download/latestttt/game.cfg.tgz 
    volumes:
      # Persistente Spieldaten (NICHT ins Git)
      - ./cs2-data:/home/steam/cs2-dedicated/
      
      # Dein Git-Repo "addons/" als Quelle (read-only)
      - ./addons:/git-addons:ro
      # - cs2:/home/steam/cs2-dedicated/  # Removed conflict
      #- ./pre.sh:/home/steam/cs2-dedicated/pre.sh
    ports:
      - "27015:27015/tcp"
      - "27015:27015/udp"
      - "27020:27020/udp"
    networks:
      - cs2-network

networks:
  cs2-network:
    driver: bridge
volumes:
  cs2:  